<head>
	<meta charset="UTF-8">
	<title>Mon Application - Membres</title>
	<link rel="stylesheet" type="text/css" href="/css/style.css">
	
	<script src="https://cdn.socket.io/socket.io-1.0.0.js"></script>
</head>